.register {
    background-color: rgb(86, 86, 86);
    height: 100vh;
}
.register .container {
    margin-top: 100px;
    max-width: max-content;
    padding: 1% 1% 1% 1%;
    border-radius: 10px;
    background-color: white;
}
